.jumbotron.jumbotron-fluid
  .container
    h1.display-3 #{translation.slogan}     
    p.lead Warehouse Management Systems (WMS) done the right way.
      br
      | Welcome to Omega... we want you to get the most value from your warehouses.
    hr
    p.lead
      a.btn.btn-primary.btn-lg.cta(href="#" role="button") Try it for free